* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
   
}






    .w-45 {
        width: 100%;
    }

    

